

.submit-btn{
    width: Fixed (110px)px;
    height: Fixed (32px)px;
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #122B49;
    color: white;
    margin: 10px;
    margin-top: 50px;
}